# General
/Library/*
# pidb files are only for code completion caching data according to:
# http://stackoverflow.com/questions/1022111/what-are-monodevelops-pidb-files
*.pidb
*.userprefs
/Logs/Packages-Update.log

# Visual Studio & its tools
*.sln
*.suo
*.csproj
*.unityproj
/[Oo]bj/*
*.DotSettings
*.vs

/Temp/*
/[Bb]uilds/*

# Custom
/zipStruct/*

# Match directories anywhere in the repository
**/DontCommit/*

# Files that should be referenced in manifest.json
/Packages/*/*
!/Packages/manifest.json
!/Packages/*/package.json

# LFS
/Assets/Art/**/*.*
!/Assets/Art/**/*.meta
